/* ---------------- Common -------------- */

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 0;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

/* ---------------- Accordion -------------- */

.accordion {}
.accordion-item {
    position: relative;
    margin-bottom: 20px;
}
.accordion-item__trigger {
    display: block;
    padding: 20px;
    border: 1px solid black;
}
.accordion-item__content {
    padding: 20px;
    border: 1px solid black;
    border-top: none;
    display: none;
}
.accordion-item__input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.accordion-item__input:checked ~ .accordion-item__trigger {
    background-color: #eee;
}
.accordion-item__input:checked ~ .accordion-item__content {
    display: block;
}